dbUrl='mongodb+srv://albashir:<CiuiZ2qDQbWEYeC7>@testdb.hdxy02w.mongodb.net/?retryWrites=true&w=majority'
dbUrll='mongodb://albashir:<password>@ac-lxq2slj-shard-00-00.hdxy02w.mongodb.net:27017,ac-lxq2slj-shard-00-01.hdxy02w.mongodb.net:27017,ac-lxq2slj-shard-00-02.hdxy02w.mongodb.net:27017/?ssl=true&replicaSet=atlas-b2fsm5-shard-0&authSource=admin&retryWrites=true&w=majority'